/Homework Solution/Homework 1 Solution/CSE4361F19HW1_NetBeans/nbproject/private/
/Homework Solution/Homework 1 Solution/hw1/nbproject/private/
/Homework Solution/Homework 1 Solution/gui/nbproject/private/
/Homework Solution/Homework 1 Solution/shape/nbproject/private/
/Homework Solution/Homework 1 Solution/gui/src/gui/shape/nbproject/private/
/Homework Solution/Homework 1 Solution/gui/build/
/Homework Solution/Homework 1 Solution/gui/dist/